* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--secondary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}
:root{
    --primary-color:#000000;
    --secondary-color:#ffffff;
    --ternary-color:#ffd700;
}
.dark-theme{
    --primary-color:#ffffff;
    --secondary-color:#353839;
    --ternary-color:#ffd700;
}

.nav-links {
    display: flex;
}

.linkbar {
    margin: 10px;
    color: var(--ternary-color);
}

.product {
    color: var(--ternary-color);
}

.nav-links a {
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.nav-button {
    color: var(--ternary-color);
}

.nav-button {
    display: none;
}

.sidebar {
    background-color: var(--primary-color);
    height: 100%;
    width: 40%;
    position: fixed;
    left: -60%;
    top: 0%;
    color: var(--ternary-color);
    padding: 20px;
    transition: 1.5s;

}

.side-linkbar {
    color: var(--ternary-color);
    margin-bottom: 30px;
}

.side-nav-link p {
    margin-bottom: 30px;
}

.side-linkbar {
    text-decoration: none;
}

.side-nav-link p:hover {
    text-decoration: underline;
    color: var(--ternary-color);
}

.image {
    width: 250px;
    border-radius: 10px;
}

.slogan {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    color:var(--primary-color);
}

.Shop {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--ternary-color);
    color: var(--primary-color);
    border-radius: 10px;
    margin-top: 15px;
}

.service {
    padding: 20px;
    color: var(--primary-color);
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.container-2 div {
    background-color: var(--ternary-color);
    padding: 10px;
    border-radius: 5px;
}

.arrival {
    padding: 10px;
    padding-left: 20px;
    color: var(--primary-color);
}

.container-3 img {
    width: 200px;
    border-radius: 10px;
}

.container-3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival {
    position: relative;
    flex-basis: 20%;
}

.container-3 button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--ternary-color);
    color: var(--primary-color);
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 60%;
    left: 17%;
}

.news {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
}

.Letter {
    width: 70%;
    padding: 11px;
    margin-bottom: 10px;
    border: solid var(--ternary-color) 2px;
}

.sub {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--ternary-color);
    color: var(--primary-color);
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}

.footer-icon {
    color: var(--ternary-color);
}

.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: #333333;
    color: var(--ternary-color);
}

.dress-section img {
    width: 150px;
    border-radius: 11px;
}

.product-section {
    margin-top: 20px;
}

.product-search {
    width: 70%;
    border: solid var(--ternary-color) 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 10px;
}

.product-search input {
    border: none;
    width: 100%;
    background: transparent;
}

.product-search input:focus {
    outline: none;
}

.dress-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: space-around;
}

.dress {
    text-align: center;
    flex-basis: 20%;
    color: var(--primary-color);
}
.submit button{
    background-color: #000;
    color: var(--secondary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
}
.contact{
    text-align: center;
    background-color: var(--ternary-color);
    width: 50%;
    margin:auto;
    padding: 20px;
    margin-top: 5px;
    border-radius: 10px;
}
.contact input{
    width: 80%;
    padding: 17px;
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
}
.contact h2{
    margin-bottom: 20px;
}
.submit button:hover{
    background-color: navy;
}
.contact textarea{
    width: 82%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
.contact input:focus{
    outline: none;
}
.contact textarea:focus{
    outline: none;
}
.contact h2{
    text-align: left;
    padding: 5px;
}
.contact h4{
    text-align: left;
    padding: 5px;
}
#icon{
    width: 30px;
    cursor: pointer;
}


@media screen and (max-width:699px) {
    .nav-button {
        display: block;
    }

    .linkbar {
        display: none;
    }

    .container-1 {
        flex-direction: column;
    }

    .container-2 {
        flex-direction: column;
    }
}